.addPostFormBackdrop {
  position: absolute;

  top: 0%;
  left: 50%;
  transform: translateX(-50%);

  width: 60%;
  height: 75vh;
  border-radius: 5px;
  
  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;

  background-color: var(--light-text-grey);

  z-index: 100;
}

.closeModal {
  position: fixed;
  top: 10px;
  right: 10px;
  color: var(--accent-pink);
}

form {
  width: 90%;
}

.formControl {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.formControl input,
textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--light-text-grey);
  font-family: 'Poppins', sans-serif;
}

.formBtns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formBtns button {
  padding: 10px 30px;
  border: 1px solid var(--accent-pink);
  background-color: var(--accent-pink);
  color: #fff;
  border-radius: 5px;
}

.formBtns button:hover {
  background-color: var(--light-text-grey);
  color: var(--dark-grey);
}

.formBtns .cancelBtn {
  margin-right: 10px;
}

.addPostSuccess {
  display: flex;
  align-items: center;
  margin-top: 20px;
  color: var(--accent-pink);
}

.addPostSuccess p {
  margin-right: 20px;
}