.homeContainer {
  height: 100%;
  min-height: 90vh;
  max-width: 1100px;
  margin: 0 auto;

  position: relative;
}

.header {
  padding: 20px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  font-size: 2rem;
  color: var(--light-text-grey);
}

.homeActions {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.homeActions form {
  margin-right: 30px;
}

.homeActions form input,
.homeActions form button {
  padding: 10px 25px;
  border: none;
  background-color: #fff;
}

.homeActions form input {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.homeActions form button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 1px solid var(--light-text-grey);
  /* background-color: var(--dark-grey); */
}

.header button {
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}

.searchBtn:hover,
.addPostBtn:hover {
  background-color: var(--accent-pink);
  color: var(--light-text-grey);
}




.main {
  padding: 20px 40px;
}