.navContainer {
  min-height: 10vh;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  padding: 20px 40px;
  background-color: var(--dark-grey);
}

.logo {
  color: var(--accent-pink);
  font-size: 20px;
}

.linkContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.links {
  margin-right: 20px;
  color: var(--accent-pink);
}