.selectForm {
  display: flex;
  width: fit-content;
  margin-right: 0;
}

.selectLabel {
  margin-right: 20px;
  color: var(--light-text-grey);
}

.select {
  padding: 10px;
  width: 200px;
  font-family: var(--main-font);
}

.option {
  padding: 10px;
  width: 200px;
}