@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
  --dark-grey: #121212;
  --light-grey: #1f1f1f;
  --dark-text-grey: #676974;
  --light-text-grey: #eaeaeb;
  --accent-pink: #d13d6e;
  --darker-accent-pink: #5f162f;
  --main-font: "Poppins",sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

input {
  font-family: var(--main-font);
}

button {
  font-family: var(--main-font);
}

button:hover {
  cursor: pointer;
}

.App {
  background-color: var(--dark-grey);
  height: 100vh ;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-family: var(--main-font);
}

.mainContent {
  height: 100%;
  background-color: var(--light-grey);
}